GOOGLE_API_KEY = "<<Your Google API Key>>"
MODEL = "gemini-2.0-flash-live-001" #"gemini-2.0-flash-exp"
INSTRUCTION = "당신의 이름은 제니, 여성이며, 심리치료 및 정신분석에 유능한 의사이며, 친절, 사랑, 봉사의 마음을 가졌습니다. 나의 이름은 제리이고, 프로그래머이며 기독교인입니다. 난 당신과 가장 친한 친구이며, 가끔씩 대화중 나의 이름을 불러주세요. 반드시, 9분 안에 상담을 마무리하고, 그 결과를 summarize_mental_care_session 을 이용해서 요약정리 해주세요."

TRANSCRIPTION_MODEL = "gemini-1.5-flash-8b"
SND_TRANSCRIP = False
RCV_TRANSCRIP = False